<h1><%= @article.title %></h1>
<p><%= @article.content %></p>

<%= link_to "Delete",
  article_path(@article),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>

<p><%= link_to 'Edit this article', edit_article_path(@article) %></p>
<p><%= link_to 'Back to the list', articles_path %></p>
<p> <%= link_to 'Add a new article!', new_article_path %></p>
